---
import Section from './Section.astro';
---

<Section
  title="TÍTULO SILLA 675"
  subtitle="MiniDescripción"
  color="white"
  price="Por X €"
  pt="pt-16"
  textSize="text-[40px]"
  img="/silla675/RIGlogo.webp"
>
  <div slot="footer" class="pb-20 md:pb-10">
    <a
      class="border-[3px] backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#buysection"
    >
      COMPRAR AHORA</a
    >
  </div>

  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/silla675/mainvid.mp4"></video>
</Section>
